/* --------------------------------- WEBSITE --------------------------------- */

/* --------------------------------- NAVIGATION --------------------------------- */

/* navigation-bar */
nav {
  margin: 16px auto 0 auto;
  display: flex;
  background-color: transparent;
  width: 1177px;
  height: 40px;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

/* navigation-logo */
.logo,
.logo-icon {
  height: 100%;
  width: auto;
  margin: left;
}

.hotel-manager {
  position: relative;
  bottom: 13px;
  left: 7px;
  font-size: 20px;
  font-weight: 599;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000000;
}

/* navigation-buttons */
.navigation-buttons {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
}

.navigation-buttons a {
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
}

.company {
  background-color: transparent;
  border-radius: 14px;
  padding: 12px 18px;
  text-decoration: none;
  color: #000000;
}

.fa-twitter,
.fa-linkedin {
  background-color: transparent;
  border-radius: 14px;
  padding: 12px 15px;
  text-decoration: none;
  color: #000000;
}

.fa-linkedin {
  margin-right: 6px;
}

.company:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
  background-color: #f1f3f7;
}

.gg-key {
  right: -30px;
  color: #1c73e8;
}

.log-in {
  background-color: transparent;
  border-radius: 14px;
  padding: 12px 20px;
  text-decoration: none;
  text-indent: 20px;
  color: #1c73e8;
}

.log-in:hover {
  background-color: #eef4fe;
}

.demo {
  background-color: #000000;
  border-radius: 14px;
  padding: 12px 21px;
  text-decoration: none;
  color: #ffffff;
}

/* --------------------------------- BODY --------------------------------- */

/* body-introduction */
.header {
  position: relative;
  text-align: center;
  background-color: transparent;
  font-family: Arial, sans-serif;
  bottom: -50px;
}

.header-heading {
  font-size: 65px;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

.header-description {
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 28px;
}

/* navigation-button */
.gg-bolt {
}

.header-demo {
}

/* 
.header-demo {
  display: center;
  background-color: #000000;
  border-radius: 14px;
  padding: 13px 25.5px;
  text-decoration: none;
  text-indent: 15px;
  font-size: 17px;
  color: #ffffff;
  display: inline-block;
  margin-top: 10px;
} 
  
.gg-bolt {
  color: #807f7f;
  top: 42px;
  left: 685px;
}

*/
