/* 
ACTION:
Responsive.
Comments.
README.
Relocate btn.
*/

/* --------------------------------- GENERAL --------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-primary: #6d7787; /* text / icon */
  --color-grey-secondary: #f1f3f7; /* hover / line / cookie*/
  --color-blue-primary: #1c73e8; /* text / btn */
  --color-blue-secondary: #eef4fe; /* hover */

  --color-shadow: rgba(149, 157, 165, 0.2) 0 0 24px;

  /* minimise */

  --size-primary: 15px; /* nav / sup */
  --size-secondary: 17px; /* primary text */
  --size-tertiary: 18px; /* primary text heading / footer */
  --size-quaternary: 21px; /* secondary text */
  --size-quinary: 30px; /* nav / footer */
  --size-senary: 55px; /* sub-heading */
  --size-septenary: 65px; /* heading */

  --bold-primary: normal;
  --bold-secondary: 550;
  --bold-tertiary: bold;

  color: var(--color-black);
  background-color: var(--color-white);
  font-family: "DM Sans", sans-serif;
  font-size: var(--size-secondary);
  font-weight: var(--bold-primary);
  margin: 0px auto;
  scroll-behavior: smooth;
  width: 80%;
}

/* --------------------------------- NAVIGATION --------------------------------- */

nav {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  font-size: var(--size-primary);
  height: 70px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.nav-logo {
  align-items: center;
  display: flex;
}

.nav-logo img {
  height: 40px;
}

.nav-logo a {
  color: var(--color-black);
  font-size: var(--size-quaternary);
  font-weight: var(--bold-secondary);
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-left: 10px;
}

.nav-btn {
  display: flex;
  margin-left: auto;
}

.nav-btn a {
  align-items: center;
  border-radius: 14px;
  display: inline-flex;
  margin-left: 5px;
  text-decoration: none;
}

.btn-company,
.fa-linkedin,
.fa-twitter {
  color: var(--color-black);
  padding: 12px 18px;
}

.btn-company,
.fa-linkedin,
.fa-twitter {
  color: var(--color-black);
}

.fa-linkedin {
  margin-right: 6px;
}

.btn-company:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
  background-color: var(--color-grey-secondary);
}

.gg-key {
  color: var(--color-blue-primary);
  right: -30px;
  top: 17px;
}

.btn-log-in {
  color: var(--color-blue-primary);
  padding: 12px 20px;
  text-indent: 20px;
}

.btn-log-in:hover {
  background-color: var(--color-blue-secondary);
}

/* --------------------------------- HEADER, BODY & FOOTER - BUTTON, ETC. --------------------------------- */

.line {
  border: 0.1px solid var(--color-grey-secondary);
  margin: 30px auto;
}

.cookie-line {
  border: 0.1px solid var(--color-grey-secondary);
  margin: 4px;
}

.header-btn-bolt,
.body-btn-bolt {
  background-color: var(--color-black);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 12%;
}

.header-btn-bolt {
  padding: 12px 12px 12px 8px;
}

.body-btn-bolt {
  padding: 12px 500px;
}

#google-bolt {
  color: var(--color-grey-primary);
  font-size: var(--size-quaternary);
  margin-right: 8px;
}

.btn-demo-bolt {
  color: var(--color-white);
  text-decoration: none;
}

#grid-duo-btn-demo {
  margin-left: 25px;
  top: 507px;
  position: absolute;
}

.btn-demo {
  background-color: var(--color-black); /* diff */
  border-radius: 14px;
  color: var(--color-white);
  padding: 12px 21px;
  text-decoration: none;
}

/* */
/* */
/* */
/* */
/* */

#btn-settings {
  /* background-color: diff */
  border-radius: 10px; /* diff */
  color: var(--color-blue-primary); /* diff */
  padding: 12px 21px;
  text-decoration: none;
}

#btn-deny {
  /* background-color: diff */
  border-radius: 10px; /* diff */
  color: var(--color-grey-primary);
  margin: 0px 5px; /* diff */
  padding: 12px 21px;
  text-decoration: none;
}

#btn-accept {
  background-color: var(--color-blue-primary); /* diff */
  border-radius: 10px; /* diff */
  color: var(--color-white);
  padding: 12px 21px;
  text-decoration: none;
}

/* */
/* */
/* */
/* */
/* */

/* --------------------------------- BODY - ANIMATION --------------------------------- */

/*
ACTION:
Fix annimation via Javascript
*/

.animation {
  position: relative;
}

.img-software-web {
  width: 100%;
  display: block;
  margin-bottom: 160px;
  transform: perspective(600px) rotateX(20deg);
  transition: transform 0.1s ease-out;
}

.img-software-app {
  position: absolute;
  right: 8%;
  bottom: -10%;
  width: 25%;
  transform: perspective(600px) rotateX(20deg);
  transition: transform 0.1s ease-out;
}

/* --------------------------------- HEADER & BODY --------------------------------- */

header, /* 70px nav + 80px header = 150px */
.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  margin: 80px 0px 0px 0px;
}

.section-3,
.section-4 {
  position: relative;
}

header,
body h1 {
  position: relative;
  text-align: center;
}

.header-title {
  font-size: var(--size-septenary);
  line-height: 70px;
}

.header-description {
  font-size: var(--size-quaternary);
  margin: 30px auto;
}

body h1,
.sign-up-title {
  font-size: var(--size-senary);
  line-height: 60px;
  margin: 0px;
}

.sub-title {
  color: var(--color-grey-primary);
  margin-bottom: 50px;
}

.sub-header {
  display: flex;
  justify-content: center;
  margin: 0px 60px;
}

#google-check-circle {
  color: var(--color-grey-primary);
  font-size: 200%;
  font-weight: 350;
}

.sub-header-title {
  font-size: var(--size-tertiary);
  font-weight: var(--bold-secondary);
  margin: 10px 0px 6px 0px;
}

.sub-header-description {
  color: var(--color-grey-primary);
  margin: 0px;
}

.sub-header div,
.text-grid-trio div {
  flex: 1 1 0;
}

.img-grid-trio {
  display: flex;
}

.img-grid-trio img {
  border-radius: 25px;
  box-shadow: var(--color-shadow);
  flex: 1 1 0;
  height: 325px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center top;
  padding-top: 2%;
  width: 365px;
}

.img-grid-trio-launch,
.text-grid-trio-launch {
  margin: 0px 60px;
}

.text-grid-trio {
  display: flex;
  justify-content: center;
  text-align: center;
}

.text-grid-trio-title {
  font-size: 35px;
  font-weight: var(--bold-tertiary);
  margin: 0px;
}

.text-grid-trio-description {
  color: var(--color-grey-primary);
  margin: 12px 0px 0px 0px;
}

sup {
  font-size: var(--size-primary);
  font-weight: var(--bold-primary);
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.img-grid-duo {
  display: flex;
}

.img-grid-duo img {
  border-radius: 25px;
  width: 48.7%;
}

#grid-duo-operation,
#grid-duo-guests {
  flex: 1 1 0;
  margin-right: 15px;
}

#grid-duo-knowledge,
#grid-duo-contactless {
  flex: 1 1 0;
  margin-left: 15px;
}

.text-grid-duo p {
  margin: 20px 25px;
}

.text-grid-duo {
  color: var(--color-white);
  display: flex;
  position: absolute;
  top: 170px;
  width: 100%;
}

.text-grid-duo-title {
  font-size: var(--size-quinary);
  font-weight: var(--bold-tertiary);
  margin: 0px;
  height: 35%;
}

.text-grid-duo-description {
  margin: 0px;
  height: 40%;
}

.section-5 {
  border-radius: 25px;
  box-shadow: var(--color-shadow);
  margin-bottom: 80px;
  padding: 50px;
  text-align: center;
}

.sign-up-title {
  font-weight: var(--bold-tertiary);
  font-size: var(--size-senary);
  margin: 0px;
}

.sign-up-description {
  color: var(--color-grey-primary);
  margin: 15px 0px;
}

/* --------------------------------- FOOTER --------------------------------- */

footer {
  margin: 240px 0px 10px 0px;
}

.footer-title {
  font-size: var(--size-quinary);
  font-weight: var(--bold-tertiary);
  margin: 0px;
}

.footer-description {
  color: var(--color-grey-primary);
  font-size: var(--size-tertiary);
  font-weight: var(--bold-secondary);
  margin: 20px 0px;
}

.nav-footer {
  color: var(--color-grey-primary);
  display: block;
  margin: 10px 0px;
  text-decoration: none;
}

#btn-careers {
  margin-bottom: 0px;
}

/* */
/* */

.footer-sub-heading {
  align-items: center;
  color: var(--color-grey-primary);
  display: flex;
  font-size: 13px;
  margin: 0px;
}

.nav-sub-footer {
  color: var(--color-grey-primary);
  display: inline-block;
  font-weight: var(--bold-secondary);
  margin-left: auto;
  text-decoration: none;
}

#btn-terms {
  margin-left: 15px;
}

/* --------------------------------- COOKIE --------------------------------- */

/* ----------------- BAR ----------------- */

.cookie-bar {
  background-color: #f9fafb;
  bottom: 0;
  color: #363c40;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  text-align: left;
  width: 100vw;
  z-index: 1000;
}

.cookie-bar p {
  margin: 15px;
  font-size: 13px; /* font? */
}

.cookie-bar a {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  margin: 15px;
}

#btn-deny {
  color: #363c40;
  margin: auto -5px;
}

#google-close {
  border-radius: 14px;
  display: inline-block;
  font-weight: 200;
  margin: 15px 15px 15px -145px;
  padding: 8.5px 8.5px;
}

/* ----------------- SETTING ----------------- */

.cookie-setting {
  background-color: #f9fafb;
  bottom: 0;
  color: #363c40;
  display: block;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 28vw;
  z-index: 1000;
}

/* If the classes follow a pattern and only the numbers are changing, you can use an attribute selector: */
[class^="cookie-section-"] {
  margin: 0px 28px;
}

.cookie-group {
  display: flex;
}

#google-chevron_left {
  font-weight: 200;
  padding: 4px 0px;
  position: absolute;
}

.cookie-title {
  font-weight: var(--bold-secondary);
  margin: 0px;
  padding: 4px 0px;
}

/* switch-start */
/* box */
.switch {
  font-size: 15px;
  height: 2em;
  margin-left: auto;
  position: relative;
  width: 3.5em;
}

/* hide-default-html-checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* slider */
.slider {
  border: 0.75px solid #363c40;
  border-radius: 10px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #363c40;
  border-radius: 20px;
  bottom: 0.25em;
  content: "";
  height: 1.4em;
  left: 0.27em;
  position: absolute;
  transition: 0.4s;
  width: 1.4em;
}

input:checked + .slider {
  background-color: #1c73e8;
  border: 0.75px solid #1c73e8;
}

input:checked + .slider:before {
  background-color: #f9fafb;
  transform: translateX(1.4em);
}
/* switch-end */

.cookie-description {
  font-size: 14px;
}

/* ----------------- DROP-DOWN ----------------- */

.cookie-section-3 {
  display: flex;
}

#google-keyboard_arrow_down {
  font-size: 20px;
  font-weight: 200;
  margin: 0px 4px;
}

.cookie-sub-title {
  font-size: 12px;
  margin: 1px 0px;
}

/* ----------------- TABLE ----------------- */

.cookie-section-4 section {
  display: flex;
  font-size: 12px;
}

.cookie-section-4 {
  border: 1px solid;
  margin: 14px 70px;
  padding: 10px;
}

.table-title {
  flex-grow: 1;
  font-weight: var(--bold-secondary);
  margin: 4px;
}

.table-description {
  margin: 4px;
}

.cookie-setting {
  overflow-y: scroll;
}

.privado {
  font-size: 12px;
  text-align: center;
}

#btn-save {
  background-color: var(--color-blue-primary);
  border-radius: 10px;
  color: var(--color-white);
  display: block;
  padding: 12px 193px;
  text-decoration: none;
}
