/* --------------------------------- WEBSITE --------------------------------- */

/* --------------------------------- NAVIGATION --------------------------------- */

/* navigation-bar */
nav {
  background-color: transparent;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 40px;
  margin: 16px auto 0 auto;
  width: 1177px;
}

/* navigation-logo */
.logo,
.logo-icon {
  height: 100%;
  margin: left;
  width: auto;
}

.hotel-manager {
  bottom: 13px;
  color: #000000;
  font-size: 20px;
  font-weight: 599;
  left: 7px;
  letter-spacing: 1px;
  position: relative;
  text-decoration: none;
}

/* navigation-buttons */
.navigation-buttons {
  align-items: center;
  display: flex;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
}

.navigation-buttons a {
  align-items: center;
  display: inline-flex;
  margin-left: 5px;
}

.company,
.fa-linkedin,
.fa-twitter {
  background-color: transparent;
  border-radius: 14px;
  color: #000000;
  padding: 12px;
  text-decoration: none;
}

.company {
  padding: 12px 18px;
}

.fa-linkedin {
  margin-right: 6px;
  padding: 12px 15px;
}

.company:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
  background-color: #f1f3f7;
}

.gg-key {
  color: #1c73e8;
  right: -30px;
}

.log-in {
  background-color: transparent;
  border-radius: 14px;
  color: #1c73e8;
  padding: 12px 20px;
  text-decoration: none;
  text-indent: 20px;
}

.log-in:hover {
  background-color: #eef4fe;
}

.demo {
  background-color: #000000;
  border-radius: 14px;
  color: #ffffff;
  padding: 12px 21px;
  text-decoration: none;
}

/* --------------------------------- BODY --------------------------------- */

/* body-introduction */
.header {
  background-color: transparent;
  bottom: -50px;
  font-family: Arial, sans-serif;
  position: relative;
  text-align: center;
}

.header-heading {
  font-size: 65px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.header-description {
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 28px;
}

/* navigation-button */
.gg-bolt {
  color: #807f7f;
  left: 684px;
  top: 21px;
}

.header-demo {
  background-color: #000000;
  border-radius: 14px;
  color: #ffffff;
  font-size: 17px;
  padding: 13.5px 25.5px 14px 41.5px;
  text-decoration: none;
}
