/* --------------------------------- GENERAL --------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --color-white: #ffffff; /* background / btn */
  --color-black: #000000; /* text / btn */
  --color-grey-primary: #6d7787; /* text / icon */
  --color-grey-secondary: #f9fafb; /* hover / line / cookie */
  --color-grey-tertiary: #363c40; /* coookie */
  --color-blue-primary: #1c73e8; /* text / btn */
  --color-blue-secondary: #eef4fe; /* hover */

  --color-shadow: rgba(149, 157, 165, 0.2) 0 0 24px;

  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  margin: 0px auto;
  width: 80%;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* --------------------------------- NAVIGATION --------------------------------- */

nav {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  font-size: 15px;
  height: 70px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.nav-logo {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.nav-logo img {
  height: 40px;
}

.nav-logo a {
  color: var(--color-blue-primary);
  font-size: 21px;
  font-weight: 550;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-left: 10px;
}

.nav-btn {
  display: flex;
  margin-left: auto;
}

.nav-btn a {
  align-items: center;
  border-radius: 14px;
  display: inline-flex;
  margin-left: 5px;
  text-decoration: none;
}

.btn-company,
.fa-linkedin,
.fa-twitter {
  color: var(--color-black);
  padding: 12px 18px;
}

.fa-linkedin {
  margin-right: 6px;
}

.btn-company:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
  background-color: var(--color-grey-secondary);
}

.gg-key {
  color: var(--color-blue-primary);
  right: -30px;
  top: 17px;
}

.btn-log-in {
  color: var(--color-blue-primary);
  padding: 12px 20px;
  text-indent: 20px;
}

.btn-log-in:hover {
  background-color: var(--color-blue-secondary);
}

.btn-demo {
  background-color: var(--color-black);
  border-radius: 14px;
  color: var(--color-white);
  padding: 12px 21px;
  text-decoration: none;
}

/* company.html --------------------------------- HEADER --------------------------------- */

header,
.header {
  margin-top: 80px;
  display: flex;
}

[class^="section-"] {
  margin-top: 200px;
}

.header-text {
  padding-right: 10px;
}

.header-title {
  font-size: 65px;
  line-height: 70px;
  margin: 0px;
}

.header-description {
  font-size: 21px;
  font-weight: normal;
  margin: 30px auto 0px auto;
}

/* company.html --------------------------------- BODY --------------------------------- */

/* body {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.8s ease, filter 0.8s ease;
}

body.loaded {
  opacity: 1;
  filter: blur(0);
} */

.section-1 {
  display: flex;
}

.title {
  flex: 0 0 40%;
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
  margin: 0px;
  padding-right: 21px;
}

.description > * {
  font-size: 21px;
  margin: 0px;
}

.description-middle-paragraph {
  margin: 20px 0px;
}

.section-2 {
  display: flex;
  overflow: hidden;
  padding-left: 50px;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0s linear;
}

.achievement {
  flex: 0 0 280px;
  margin-right: 100px;
  text-align: left;
}

.achievement-year {
  font-size: 30px;
  margin: 0px;
}

.achievement-title {
  font-size: 18px;
  font-weight: 550;
  margin: 10px 0px;
}

.achievement-description {
  color: var(--color-grey-primary);
  font-size: 18px;
  font-weight: normal;
}

.section-3 {
  justify-content: center;
}

#title {
  text-align: center;
}

.sub-title {
  font-size: 21px;
  font-weight: normal;
  margin: 30px auto 0px auto;
  text-align: center;
}

.body-grid {
  display: flex;
  gap: 21px;
  margin-top: 50px;
  text-align: center;
}

#google-check-circle {
  color: var(--color-grey-primary);
  font-size: 200%;
  font-weight: 350;
}

.sub-header-title {
  font-size: 18px;
  font-weight: 550;
  margin: 10px 0px 6px 0px;
}

.sub-header-description {
  color: var(--color-grey-primary);
  margin: 0px;
}

.position {
  border: solid;
  border-color: var(--color-grey-secondary);
  border-radius: 10px;
  margin: 30px 0px;
  padding: 10px;
}

.position-title,
.position-tag {
  font-size: 18px;
  font-weight: 550;
  margin: 0px 10px 0px 0px;
}

.position-title {
  padding: 7px 0px;
}

.position-tag {
  border-radius: 10px;
  padding: 7px;
}

#position-tag-engineering {
  background-color: var(--color-blue-secondary);
  color: var(--color-blue-primary);
}

.position-description {
  color: var(--color-grey-primary);
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
}

.position-heading,
.position-spec,
.position-spec-group,
.position-view {
  display: flex;
}

.material-symbols-outlined {
  align-content: center;
  color: var(--color-grey-primary);
  font-size: 125%;
  font-weight: 350;
}

#google-location {
  margin-right: 5px;
}

#google-contract {
  margin: 0px 5px 0px 10px;
}

.position-spec-title,
.position-view-title {
  color: var(--color-grey-primary);
  font-size: 18px;
  font-weight: normal;
}

#position-tag-design {
  background-color: #fdf3fb;
  color: #c11673;
}

.position-view {
  margin-left: auto;
}

.position-view-title {
  color: var(--color-blue-primary);
}

#google-arrow-top-right {
  color: var(--color-blue-primary);
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

#google-arrow-top-right:hover {
  transform: rotate(45deg);
}

.position-view-title:hover + #google-arrow-top-right {
  transform: rotate(45deg);
}

/* app.html --------------------------------- BODY --------------------------------- */

/* ongoing */

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sign-in-group {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sign-in-sub-group {
  width: 30%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.sign-in-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.company-logo {
  width: 38px;
  height: 38px;
  margin-right: 8px;
  position: static !important;
}

.company-title {
  color: var(--color-blue-primary);
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #dcdcdc;
  border-radius: 7px;
  font-size: 14px;
}

.btn-sign-in {
  text-align: center;
  background-color: var(--color-blue-primary);
  color: white;
  font-weight: 500;
  padding: 12px 0;
  border-radius: 7px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn-sign-in:hover {
  background-color: #0066ff;
}

p {
  font-size: 13.5px;
  color: #333;
  margin-top: 8px;
}

.sign-in-no-account {
  color: var(--color-blue-primary);
  text-decoration: none;
}

.sign-in-group img.img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: 1;
  margin: 0;
  padding: 0;
  opacity: 1;
  filter: brightness(0.98);
  transition: all 0.3s ease;
}

@media (max-width: 900px) {
  body {
    overflow: auto;
  }

  .sign-in-group {
    flex-direction: column;
    height: auto;
  }

  .sign-in-sub-group {
    width: 100%;
    height: auto;
    padding: 40px;
    box-shadow: none;
  }

  .sign-in-group img.img {
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    filter: brightness(1);
  }
}

/* --------------------------------- FOOTER --------------------------------- */

footer {
  margin: 240px 0px 10px 0px;
}

.footer-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.footer-description {
  color: var(--color-grey-primary);
  font-size: 18px;
  font-weight: 550;
  margin: 20px 0px;
}

.nav-footer {
  color: var(--color-grey-primary);
  display: block;
  margin: 10px 0px;
  text-decoration: none;
}

#btn-careers {
  margin-bottom: 0px;
}

.line {
  border: 0.1px solid var(--color-grey-secondary);
  margin: 30px auto;
}

.footer-sub-heading {
  align-items: center;
  color: var(--color-grey-primary);
  display: flex;
  font-size: 13px;
  margin: 0px;
}

.nav-sub-footer {
  color: var(--color-grey-primary);
  display: inline-block;
  font-weight: 550;
  margin-left: auto;
  text-decoration: none;
}

#btn-terms {
  margin-left: 15px;
}
